body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    color: #FFFFFF;
    background-color: #2B2B2B;
}

a {
    color: #00B7FF;
}

.dec {
    position: absolute;
}

.leftDec {
    left: 0;
    bottom: 15%;
}

.rightDec {
    right: 0;
    top: 15%;
}

.centerDisplay {
    margin: 0 auto;
}

.orangeIcon {
    background-color: #E95420;
}

.icon {
    text-align: center;
}

.iconText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.square {
    width: 100px;
    height: 100px;
}

.circle {
    border-radius: 100%;
}