body {
    padding: 50px;
    font-family: 'Lato', sans-serif;
    color: #FFFFFF;
    background-color: #2B2B2B;
}

.dec {
    position: absolute;
}

.leftDec {
    left: 0;
    bottom: 10%;
}

.rightDec {
    right: 0;
    top: 15%;
}

.centerDisplayContainer {
    position:relative;
    top: 37vh;
}

.mainSocialNav {
    margin-left: 115px;
    transform: translateY(-10px);
}

.mainSocialNavLink {
    margin-left: 15px;
    margin-right: 15px;
    color: #555555;
}

.centerDisplay {
    width: 870px;
    height: 150px;
    bottom: 0;
    /*border: dotted white 1px;*/
}

.nameTitle {
    /*position:relative;*/
    /*top:0;*/
}

.bigName {
    letter-spacing: 1px;
    font-size: 4em;
}

.border {
    /*border: dotted blue 1px;*/
}

.vertical-align {
    display: flex;
    align-items: center;
}

.occupation {
    letter-spacing: 1px;
    font-size: 1.6em;
}

.orangeText {
    color: #D65147;
}

.orangeIcon {
    background-color: #D65147;
}

.bigIconText {
    font-size: 4.5em;
}

.icon {
    letter-spacing: 5px;
    text-align: center;
    /*margin: 5px;*/
}

.iconText {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.square {
    width: 125px;
    height: 125px;
}

.circle {
    border-radius: 100%;
}